<% content_for :main_class, 'max-w-7xl' %>
<div class="p-4">
  <ul class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <% @photos.each do |photo| %>
    <li class="flex flex-col bg-white rounded-2xl shadow overflow-hidden">
      <%= link_to photo_path(photo), class: "flex-1 flex flex-col" do %>
        <% if photo.images.attached? %>
          <%= image_tag photo.images[0], class: "w-full h-[180px] object-cover" %>
        <% end %>
        <div class="p-2 text-center">
          <h3 class="text-sm font-semibold text-gray-800 truncate">
            <%= photo.title %>
          </h3>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
</div>
